.git
.git/**
.github/
.github/**
.gitignore
.dockerignore
*.md
dockerfiles
dockerfiles/**
.docker
.docker/**
!.docker/templates
Dockerfile*
docker-compose.*
data
data/**
twint
twint/**
gh.go
ght.go
github.go
